<%- include("__header.ejs") %>
	<!-- celebrity single section-->

	<div class="page-single movie-single cebleb-single">
		<div class="container">
			<div class="row ipad-width">
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="mv-ceb">
						<img src="<%- artist.avatar %> " alt="">
					</div>
				</div>
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="movie-single-ct">
						<h1 class="bd-hd">
							<%- artist.name %>
						</h1>
						<p class="ceb-single">
							<%- artist.role %>
						</p>
						<div class="social-link cebsingle-socail">
							<a href="#"><i class="ion-social-facebook"></i></a>
							<a href="#"><i class="ion-social-twitter"></i></a>
							<a href="#"><i class="ion-social-googleplus"></i></a>
							<a href="#"><i class="ion-social-linkedin"></i></a>
						</div>
						<div class="movie-tabs">
							<div class="tabs">
								<ul class="tab-links tabs-mv">
									<li  class="active"><a href="#biography"> biography</a></li>
									<li><a href="#filmography">filmography</a></li>
								</ul>
								<div class="tab-content">
									<div id="biography" class="tab">
										<div class="row">
											<div class="rv-hd">
												<div>
													<h3>Biography of</h3>
													<h2>
														<%- artist.name %>
													</h2>
												</div>
											</div>
											<p> <%- artist.bio %> </p>
										</div>
									</div>
									
									<div id="filmography" class="tab">
										<div class="row">
											<div class="rv-hd">
												<div>
													<h3>Biography of</h3>
													<h2><%- artist.name %> </h2>
												</div>

											</div>
											<div class="topbar-filter">
												<p>Found <span><%- allvideo %>  movies</span> in total</p>
												<label>Filter by:</label>
												<select>
													<option value="popularity">Popularity Descending</option>
													<option value="popularity">Popularity Ascending</option>
													<option value="rating">Rating Descending</option>
													<option value="rating">Rating Ascending</option>
													<option value="date">Release date Descending</option>
													<option value="date">Release date Ascending</option>
												</select>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">
													<% videos.forEach(video => { %>
														<div class="cast-it"></div>
														<div class="cast-left cebleb-film">
															<img src=" <%- video.cover %> " alt="<%- video.name %> ">
															<div>
																<a href="#"><%- video.name %> </a>
																<p class="time"><%- video.genre %> </p>
															</div>
	
														</div>
														<p><%- video.date_published %> </p>
													<% }) %>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- celebrity single section-->

	<%- include("__footer.ejs") %>