<!DOCTYPE html>
<html lang="en">
    <%- include("_header.ejs") %> 
    <% const update = locals.update || {} %> 
  <body>
    <div class="container-scroller">
        <%- include("_sidebar.ejs") %> 
        <div class="container-fluid page-body-wrapper">
        <%- include("_navbar.ejs") %> 
          <div class="content-wrapper">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title">Add Artist</h2>
                    <p class="card-description">Add New Artist</p>
                    <form class="forms-sample" action="<%- update.ID?'/admin/artist/' + update.ID:'/admin/artist/add'%>" method="POST">
                      <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name" value="<%- update.name?update.name:''%>">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Artist image URL</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Avatar" name="avatar" value="<%- update.avatar?update.avatar:''%>">
                      </div>
                      <div class="form-group">
                        <label for="Role">Role</label>
                        <div class="form-group">
                            <select name="role"  class="form-control commentStatus" id="Role">
                                        <option value="Actor">Actor</option>
                                        <option name="Actress">Actress</option>
                                        <option value="Actor">Director</option>
                                        <option value="Actor">Writer</option>
                                        <option value="Actor">Producer</option>
                                        <option value="Actor">Singer</option>
                            </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="bio"><%- update.bio?update.bio:''%></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark" type="reset">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
          </div>
          <!-- content-wrapper ends -->
          <%- include("_footer.ejs") %> 
  </body>
</html>