<!DOCTYPE html>
<html lang="en">
    <%- include("_header.ejs") %> 
    <% const update = locals.update || {} %> 
  <body>
    <div class="container-scroller">
        <%- include("_sidebar.ejs") %> 
        <div class="container-fluid page-body-wrapper">
        <%- include("_navbar.ejs") %> 
          <div class="content-wrapper">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title"><%- update.ID?"Update Video":'Add Video'%></h2>
                    <p class="card-description"><%- update.ID?'update existing video':'add new Video'%></p>
                    <form class="forms-sample" action="<%- update.ID?'/admin/video/' + update.ID:'/admin/video/add'%>" method="POST">
                      <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name" value="<%- update.name?update.name:''%>">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">type</label>
                          <select name="type"  class="form-control commentStatus">
                                      <option value="Movie">Movie</option>
                                      <option name="Series">Series</option>
                          </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Cover image URL</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Cover URL" name="cover" value="<%- update.cover?update.cover:''%>">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">genre</label>
                        <div class="group-ip" >
                          <select name="genre"  class="form-control commentStatus">
                                      <option value="COMEDY">COMEDY</option>
                                      <option value="SCI-FI">SCI-FI</option>
                                      <option value="HORROR">HORROR</option>
                                      <option value="ROMANCE">ROMANCE</option>
                                      <option value="ACTION">ACTION</option>
                                      <option value="THRILLER">THRILLER</option>
                                      <option value="DRAMA">DRAMA</option>
                                      <option value="MYSTERY">MYSTERY</option>
                                      <option value="CRIME">CRIME</option>
                                      <option value="ANIMATION">ANIMATION</option>
                                      <option value="ADVENTURE">ADVENTURE</option>
                                      <option value="FANTASY">FANTASY</option>
                        </select>
                        </div>
                        <!--  name="genre" value="< update.genre?update.genre:''%>"> -->
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">year</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="year" name="year" value="<%- update.year?update.year:''%>">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">content rating</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="type" name="content_rating"value="<%- update.content_rating?update.content_rating:''%>">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">company</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="type" name="company"value="<%- update.company?update.company:''%>">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">date published</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="type" name="date_published"value="<%- update.date_published?update.date_published:''%>">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">country</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="type" name="country"value="<%- update.country?update.country:''%>">
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="description"><%- update.description?update.description:''%></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark" type="reset">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
          </div>
          <!-- content-wrapper ends -->
          <%- include("_footer.ejs") %> 
  </body>
</html>