<!DOCTYPE html>
<html lang="en">
    <%- include("_header.ejs") %> 
  <body>
    <div class="container-scroller">
        <%- include("_sidebar.ejs") %> 
        <div class="container-fluid page-body-wrapper">
        <%- include("_navbar.ejs") %> 
          <div class="content-wrapper">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Admin Profile</h4>
                    <form class="forms-sample" action="/admin/adminprofile" method="post">
                      <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" class="form-control"  placeholder="<%-info.name%>" name="name">
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail3">Email address</label>
                        <label class="form-control"><%- info.email %> </label>  
                      </div>

                      <div class="form-group">
                        <label for="exampleInputName1">Admin image URL</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Avatar" name="avatar">
                      </div>

                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                    <br>
                    <br>
                    <br>
                    <h4 class="card-title">Change password</h4>
                    <form class="forms-sample">
                    <div class="form-group">
                      <label for="exampleInputPassword4">old Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword4">old Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword4">old Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-dark">Cancel</button>
                  </form>

                  </div>
                </div>
              </div>
            </div>
          <!-- content-wrapper ends -->
          <%- include("_footer.ejs") %> 
  </body>
</html>