<%- include("_header.ejs") %> 
<div class="hero hero3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
	<div class="page-single movie-single cebleb-single">
		<div class="container">
			<div class="row ipad-width">
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="mv-ceb">
						<img src="<%- artist.avatar %> " alt="">
					</div>
				</div>
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="movie-single-ct">
						<h1 class="bd-hd">
							<%- artist.name %>
						</h1>
						<p class="ceb-single">
							<%- artist.role %>
						</p>
						<div class="social-link cebsingle-socail">
							<a href="#"><i class="ion-social-facebook"></i></a>
							<a href="#"><i class="ion-social-twitter"></i></a>
							<a href="#"><i class="ion-social-googleplus"></i></a>
							<a href="#"><i class="ion-social-linkedin"></i></a>
						</div>
						<div class="movie-tabs">
							<div class="tabs">
								<ul class="tab-links tabs-mv">
									<li><a href="#biography"> biography</a></li>
									<li><a href="#filmography">filmography</a></li>
								</ul>
								<div class="tab-content">
									<div id="biography" class="tab">
										<div class="row">
											<div class="rv-hd">
												<div>
													<h3>Biography of</h3>
													<h2>
														<%- artist.name %>
													</h2>
												</div>
											</div>
											<p> <%- artist.bio %> </p>
										</div>
									</div>
									
									<div id="filmography" class="tab">
										<div class="row">
											<div class="rv-hd">
												<div>
													<h3>Biography of</h3>
													<h2><%- artist.name %> </h2>
												</div>

											</div>
											<div class="topbar-filter">
												<p>Found <span><%- allvideo %>  movies</span> in total</p>
												<label>Filter by:</label>
												<select>
													<option value="popularity">Popularity Descending</option>
													<option value="popularity">Popularity Ascending</option>
													<option value="rating">Rating Descending</option>
													<option value="rating">Rating Ascending</option>
													<option value="date">Release date Descending</option>
													<option value="date">Release date Ascending</option>
												</select>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">
													<% videos.forEach(video => { %>
														<div class="cast-it"></div>
														<div class="cast-left cebleb-film">
															<img src=" <%- video.cover %> " alt="<%- video.name %> ">
															<div>
																<a href="#"><%- video.name %> </a>
																<p class="time"><%- video.genre %> </p>
															</div>
	
														</div>
														<p><%- video.date_published %> </p>
													<% }) %>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- celebrity single section-->

<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="#"><img class="logo" src="/assets/index/images/logo1.png" alt=""></a>
				 <p>5th Avenue st, manhattan<br>
				New York, NY 10001</p>
				<p>Call us: <a href="#">(+01) 202 342 6789</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Resources</h4>
				<ul>
					<li><a href="#">About</a></li> 
					<li><a href="#">Blockbuster</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Forums</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Help Center</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul>
					<li><a href="#">Terms of Use</a></li> 
					<li><a href="#">Privacy Policy</a></li>	
					<li><a href="#">Security</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Account</h4>
				<ul>
					<li><a href="#">My Account</a></li> 
					<li><a href="#">Watchlist</a></li>	
					<li><a href="#">Collections</a></li>
					<li><a href="#">User Guide</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Newsletter</h4>
				<p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
				<form action="#">
					<input type="text" placeholder="Enter your email...">
				</form>
				<a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank" href="#">Templates Hub</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->

<script src="/assets/index/js/jquery.js"></script>
<script src="/assets/index/js/plugins.js"></script>
<script src="/assets/index/js/plugins2.js"></script>
<script src="/assets/index/js/custom.js"></script>
</body>

<!-- celebritysingle12:18-->
</html>